@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: #fff; /* fallback for old browsers */
}
* {
  margin: 0;
  padding: 0;
}

/* navbar start*/

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1000000;
  
}
.navbar i {
  margin-right: 10px;
}
.navbar-logo {
  font-size: 1.5rem;
  padding: 0rem 1.5rem;
  font-weight: bolder;
  padding-left: 5rem;
  color: #fff;
}
.navbar a{
  color: #fff;
  text-decoration: none;
}
.navbar-mainbg {
  background-color: #171e2b;
  padding: 0rem;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
.parent{
  display: flex;
  flex-direction: row;
}
.navchild{
  display:flex;
  flex: 85%;
  justify-content: end;
  

}
.navchild1{
  display:flex;
  flex: 15%;
  justify-content: end;
  position: relative;
  margin-left: 5px;

}

.navright button{
  margin: 5px;
}

.collapse button{
  background-color: #fff;
  border-radius: 10px;
  padding: 6px 17px;
  font-size: 18px;
  font-weight: bolder;

}
.collapse .simple{
  color: rgba(255, 255, 255, 0.5);
  background-color: #171e2b;
  border:none;
  padding: 0px;
  font-size: 16px;
}

#navbarSupportedContent ul {
  display: contents;
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 20px 20px;
}


#navbarSupportedContent ul li a,
#navbarSupportedContent ul li a:after,
#navbarSupportedContent ul li a:before {
  transition: all .5s;
}
#navbarSupportedContent ul li a:hover {
  color: rgb(253, 253, 253);
}



@media only screen and (max-width: 1200px) {
  
  #navbarSupportedContent ul li a {
    font-size: 12px;
    padding: 21px 20px;
  }

    .collapse button{
      font-size: 16px;
    }

    .collapse .simple{
      font-size: 14px;
    }
    .navbar-logo {
      font-size: 1.5rem;
      padding: 0rem 1.6rem;
    }
}

@media only screen and (max-width: 1130px) {

  #navbarSupportedContent ul li a {
    font-size: 11px;
    padding: 21.7px 20px;}

    .collapse button{
      font-size: 14px;
    }

    .collapse .simple{
      font-size: 13px;
    }

    .navbar-logo {
      font-size: 1.4rem;
      padding: 0rem 1.6rem;
    }
}

@media only screen and (max-width: 1075px) {
  #navbarSupportedContent ul li a {
    font-size: 10px;
    padding: 22.7px 20px;
  }

    .collapse button{
      font-size: 12px;
    }

    .collapse .simple{
      font-size: 11px;
    }

    .navbar-logo {
      font-size: 1.2rem;
      padding: 1rem 1.8rem;
    }
}


@media (max-width: 991px) { 

  #navbarSupportedContent ul {
    display: block;
    list-style-type: none;
    
  }

  #navbarSupportedContent ul li a {
    font-size: 13px;
    padding: 12px 30px;

  }

  .collapse button{
    font-size: 18px;
  }

  .collapse .simple{
    font-size: 16px;
  }

  .navbar-logo {
    font-size: 1.5rem;
    padding: 0rem 1.5rem;
  }

  .parent{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
  }
  .navchild{
    margin: 5px 0px;
    width: 100%;
  
  }
  .navchild1{
    margin: 5px 0px;
    width: 100%;
    justify-content: center;
  }

  .navright {
    display: inline-block;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 0px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
